
/* colors */
$purple: #5a4891;
$purple2: #9999cc;
$pink: #b90066;
$pink-07: rgba(185,0,102,0.7);
$grey: #777775;
$grey2: rgba(35, 31, 32, 0.8);
$grey6: rgba(35, 31, 32, 0.5);
$grey7: rgba(35, 31, 32, 0.2);
$grey3:#d6d5d5;
$grey4:#e7e7e8;
$grey5: #858585;
$dark_grey:#231f20;
$dark_grey2: #302a2b;
$transparent:rgba(0,0,0,0);
$white:#fff;
$white-02: rgba(255, 255, 255, 0.2);

/* forms */
$error_text: $pink;
$error_bg: #f4d6e5;
$error_bg_dark: rgba(185,0,102,0.2);
$footer_form_bg: rgba(51, 45, 47, 0.8);

/* menu colors */
$color1: $purple;
$color2: $pink;
$color3: $grey;

$menu_font_light:$grey;

$menu-color:$grey2;
$hover-color:$pink;

$primary1: $purple;
$primary2: $pink;
$primary3: $purple2;
$primary4: $grey5;

/* fonts */
$heading: $dark_grey;
$body_text:$grey2;
$breadcrumbs: $grey6;
$light1: $grey7;
$light2: $grey4;